* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

:root {
  @media screen and (max-width: 1024px) {
    font-size: 70%;
  }

  @media screen and (max-width: 768px) {
    font-size: 40%;
  }

  @media screen and (max-width: 300px) {
    font-size: 25%;
  }
}
